/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Google fonts */
body {
    font-family: 'Fredoka', sans-serif;
}
/* layout main header */
main {
    width: 75%;
    margin: auto;
}
main > header {
    text-align: center;
    margin: 3rem 0;
}
#main-title {
    padding-bottom: 2rem;
    color: rgb(211, 2, 117);
}

/* layout float elements */
.float-container{
    /* height: 50%; */
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.float-element{
    float: left;
    height: 150px;
    width: calc(100% / 3);
    border: 1px solid red;
}
.image-profile {
    height: 100%;
}

